<button class="btn" [routerLink]="['/users']">back to users</button>

<div *ngIf="user" class="user-create-container box-shadow">
    <div class="cover">
        <img class="user-cover" src="#" alt="user">
    </div>
    <div class="user-form">
        <label class="label">UserName</label>
        <input [(ngModel)]="user.username" class="form-input" type="text">
        <label class="label">Password</label>
        <input [(ngModel)]="user.password" class="form-input" type="text">
        <label class="label">Role</label>
        <input [(ngModel)]="user.role" class="form-input" type="text">
        <label class="label">Active</label>
        <input [(ngModel)]="user.active" class="form-input" type="text">
        <button (click)="updateUser(user.id, user)" class="btn pull-right">Update UserProfile</button>
    </div>
</div>